name: Synapse Build and Deploy Wheel

on:
  workflow_dispatch
    
jobs:
  download-wheel-file:
    name: Download Wheel File
    runs-on: windows-latest
  

    steps:
      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
    
      - name: Checkout Code 
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUBPAT }}
          ref: 'workspace_publish'
      
      - name: Checkout Second Repo
        uses: actions/checkout@v3 
        with:
          repository: Ludwinic1/multipleRepoTest2
          path: my-test
          token: ${{ secrets.SECONDREPOPAT }}
      
      - name: Run Powershell Script
        uses: azure/powershell@v1 
        with:
          azPSVersion: latest
          inlineScript: |
            Select-AzSubscription -Default 126c93ce-f0a6-493c-8991-cdcbd797366d
            Get-AzContext
            Import-Module Az.Synapse
            $package = New-AzSynapseWorkspacePackage -WorkspaceName synapsemultiplereposws -Package ".\my-test\pytest-7.1.3-py3-none-any.whl"


          



  


