name: Synapse Build and Deploy Wheel

on:
  workflow_dispatch
    
jobs:
  download-wheel-file:
    name: Download Wheel File
    runs-on: windows-latest
  

    steps:
      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          enable-AzPSSession: true
    
      - name: Checkout Code 
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUBPAT }}
          ref: 'workspace_publish'
      
      - name: Checkout Second Repo
        uses: actions/checkout@v3 
        with:
          repository: Ludwinic1/multipleRepoTest2
          path: my-test
          token: ${{ secrets.SECONDREPOPAT }}
      
      - name: Run Powershell Script
        uses: azure/powershell@v1 
        with:
          azPSVersion: latest
          inlineScript: |
            Import-Module Az.Synapse
            $package = Get-AzSynapseWorkspacePackage -WorkspaceName synapsemultiplereposws -Name pytest-7.1.3-py3-none-any.whl
            Remove-AzSynapseWorkspacePackage -WorkspaceName synapsemultiplereposws -Name pytest-7.1.3-py3-none-any.whl
            Update-AzSynapseSparkPool -WorkspaceName synapsemultiplereposws -Name sparkpool1 -PackageAction Remove -Package $package

            $package = New-AzSynapseWorkspacePackage -WorkspaceName synapsemultiplereposws -Package ".\my-test\pytest-7.1.3-py3-none-any.whl"
            Update-AzSynapseSparkPool -WorkspaceName synapsemultiplereposws -Name sparkpool1 -PackageAction Add -Package $package 

          



  


