name: Synapse Build and Deploy Wheel

on:
  workflow_dispatch
    
jobs:
  download-wheel-file:
    name: Download Wheel File
    runs-on: windows-latest
  

    steps:
      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
    
      - name: Checkout Code 
        uses: actions/checkout@v3
        with:
          repository: Ludwinic/multiplerepotest1
          token: ${{ secrets.GITHUBPAT }}
          ref: 'workspace_publish'
          



  


